<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>History and Library - free css website template</title>
    <meta name="keywords" content="History and Library, free css website template, CSS, HTML" />
    <meta name="description" content="History and Library - free css website template by templatemo.com" />
    <link href="~/css/templatemo_style.css" rel="stylesheet" type="text/css" />
    <script language="javascript" type="text/javascript">
        function clearText(field) {
            if (field.defaultValue == field.value) field.value = '';
            else if (field.value == '') field.value = field.defaultValue;

        }
    </script>
</head>
<body>
    <div id="templatemo_container">
        
    <div id="templatemo_banner" >

        <div id="search_section" >
            <form  method="get" href="#">
                <ul class="list-group list-group-horizontal list-unstyled">
                    <li class="list-group-item">
                        <input type="text" value="Enter keyword here..." name="q" size="30" id="searchfield" title="searchfield" onfocus="clearText(this)" onblur="clearText(this)" />
                    </li>
                    <li>
                        <input class="btn btn-primary mt-1 ml-2" type="submit" name="Search" value="Search" />
                    </li>
                </ul>
            </form>
        </div>


        </div> <!-- end of banner -->

        <div id="templatemo_menu" class="bg-dark">
            <ul>
                <li><a asp-controller="Books" asp-action="Index">Books</a></li>
                <li><a asp-controller="Genres" asp-action="Index">Genres</a></li>
                <li><a asp-controller="MyGroups" asp-action="Index">Group</a></li>
                <li><a asp-controller="Students" asp-action="Index">Students</a></li>
    
            </ul>
        </div> <!-- end of menu -->

        <div id="templatemo_content_top">

            <div class="section_w335 fl margin_right_40">

                <div class="header_01">
                    About Our Library
                </div>
                <div class="image_wrapper">
                    <img src="images/templatemo_image_01.jpg" alt="image" />
                </div>

                <p>This is a free website template provided by <a href="http://www.templatemo.com" target="_parent">templatemo.com</a>. You may apply this template for your websites. Credit goes to <a href="http://www.photovaco.com" target="_blank">Free Photos</a> for photos. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <p>Nunc a nulla. Suspendisse vitae orci a ligula egestas bibendum. Pellentesque tempus sapien nec sem commodo ullamcorper. <a href="#">Read more...</a></p>
            </div>

            <div class="section_w335 fl">

                <div class="header_01">
                    History Books
                </div>
                <div class="image_wrapper">
                    <img src="images/templatemo_image_02.jpg" alt="image" />
                </div>

                <p>Donec mattis rhoncus mi. Aliquam erat arcu, euismod et, dignissim in, interdum ac, est. Mauris congue felis at nisi. Donec felis. Pellentesque leo lacus, rhoncus nec, consequat ac, ullamcorper nec, orci. </p>
                <p>Quisque blandit eros et lorem. Etiam nec enim. Cras arcu. Integer molestie. Aliquam a dui. Suspendisse ac magna quis est eleifend dictum. <a href="#">Read more...</a></p>
            </div>

            <div class="margin_bottom_40"></div>

            <div class="section_w335 fl margin_right_40">

                <div class="header_01">
                    Ancient Arts
                </div>
                <div class="image_wrapper">
                    <img src="images/templatemo_image_03.jpg" alt="image" />
                </div>

                <p>Suspendisse luctus, risus id laoreet adipiscing, urna dolor faucibus elit, vel tincidunt ante diam non lectus. Curabitur velit quam, euismod at euismod ac, euismod non nunc. Fusce dictum lobortis porta.</p>
                <p>Duis nisi urna, porta sed, molestie nec, euismod ac, libero. Mauris in elit. Morbi nec magna pulvinar mi scelerisque posuere. <a href="#">Read more...</a></p>

            </div>

            <div class="section_w335 fl">

                <div class="header_01">
                    Popular News
                </div>
                <div class="image_wrapper">
                    <img src="images/templatemo_image_04.jpg" alt="image" />
                </div>

                <p>Phasellus in justo at lectus pulvinar ultrices. Fusce non lacus et lorem ornare interdum. Nunc eget urna. Mauris vestibulum felis eget tortor. Praesent mattis varius quam. Vestibulum ullamcorper ipsum nec augue. </p>
                <p>Quisque hendrerit, neque id congue suscipit, nunc justo porttitor quam, ut venenatis augue odio at orci. <a href="#">Read more...</a></p>
            </div>

            <div class="margin_bottom_20 b_bottom"></div>

            <div class="cleaner"></div>
        </div> <!-- end of content top -->

        <div id="templatmeo_content_bottom">


            <div id="templatemo_footer">

                <ul class="footer_list">
                   <li><a asp-controller="Books" asp-action="Index">Books</a></li>
                    <li><a asp-controller="Genres" asp-action="Index">Genres</a></li>
                    <li><a asp-controller="MyGroups" asp-action="Index">Group</a></li>
                    <li><a asp-controller="Students" asp-action="Index">Students</a></li>
                </ul>

                <div class="margin_bottom_10"></div>

                <div class="margin_bottom_20"></div>

            </div>

            <div class="cleaner"></div>
        </div> <!-- end of content bottom -->
    </div> <!-- end of container -->
    
   
</body>
</html>